In [1]:
#Assignment No-4 : Assignment based on calculation of Measures of Variance
#Lanke Gauri Arvind TY-B 151

In [2]:
#import the libraries
import pandas as pd
import statistics as stats

In [3]:
#Create a DataFrame
data={'Student':['S1','S2','S3','S4','S5','S6','S7','S8','S9','S10'],
    'Marks':[78,65,80,92,85,75,88,90,70,85],}
df=pd.DataFrame(data)

#create student_marks csv file
df.to_csv('student_marks_4.csv',index=False)

In [4]:
#read the CSV file
df=pd.read_csv('student_marks_4.csv')
df

  Student  Marks
0      S1     78
1      S2     65
2      S3     80
3      S4     92
4      S5     85
5      S6     75
6      S7     88
7      S8     90
8      S9     70
9     S10     85

In [5]:
#calculate range 
def calculate_range(marks):
    return max(marks) - min(marks)

print("Range:", calculate_range(df['Marks']))

Range: 27

In [6]:
#calculate variance
def calculate_variance(marks):
    mean = sum(marks) / len(marks)
    squared_diffs = [(x - mean) ** 2 for x in marks]
    variance = sum(squared_diffs) / (len(marks) - 1) 
    return variance

print("Variance:", calculate_variance(df['Marks']))

Variance: 78.4

In [7]:
#calculate standard deviation
def calculate_std_dev(marks):
    variance = calculate_variance(marks)
    std_dev = variance ** 0.5
    return std_dev

print("Standard Deviation:", calculate_std_dev(df['Marks']))

Standard Deviation: 8.854377448471462

In [8]:
#calculate range, variance, and standard deviation using built-in functions

range=max(df['Marks']) - min(df['Marks'])
variance=stats.variance(df['Marks'])
standard_deviation=stats.stdev(df['Marks'])

print("Using Inbuilt Functions:")
print("Range of marks:",range)
print("Variance of marks:",variance)
print("Standard Deviation of marks:",standard_deviation)

Using Inbuilt Functions:
Range of marks: 27
Variance of marks: 78.4
Standard Deviation of marks: 8.854377448471462